ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CURRENT_PROJECT_VERSION=0
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym
DEVELOPMENT_TEAM=M29A6H95KD
INFOPLIST_FILE=wherewego/Info.plist
LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks
MARKETING_VERSION=1.2.7
PRODUCT_BUNDLE_IDENTIFIER=com.y2k.wherewego
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_SWIFT3_OBJC_INFERENCE=Default
SWIFT_VERSION=5.0

