<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceKey</key>
	<string>lWH3TH9hXhNio7cYKzu0MaGzl3lO3o8BP%2BbRpSOgubUXipVjY6Y1gmnIxIRKK3GJMJir1%2FdL72xt8WGc11mQ3Q%3D%3D</string>
</dict>
</plist>
