
name: DEPLOY IOS
on:
  workflow_dispatch:
    inputs:
        isReleasing:
            description: '심사제출'
            type: boolean
            required: true
            default: true
        body:
            description: 'Version changes'
            required: false
            default: '수정사항'

concurrency:
  group: ${{ github.ref }}/ios/deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: macos-14
    env:
        PRODUCT_NAME: 'wherewego'
        IOS_CERT_PATH: 'cert.p12'
        IOS_PROFILE_PATH: 'profile.mobileprovision'
        IOS_KEY_PATH: 'api-key.json'
        GPG_PRIVATE_KEY_PATH: 'private.gpg'
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Select Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app

      - name: Import Secret Key
        run: |
          echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d -o $GPG_PRIVATE_KEY_PATH
          gpg --batch --no-tty --yes --import $GPG_PRIVATE_KEY_PATH
          
      - name: Install Encrypter
        run: |
            brew install git-secret
      
      - name: Decrypt Secret Data
        run: |
          git secret reveal -p ${{ secrets.GPG_PRIVATE_PWD }}
      
      - name: Install Mise
        run: |
            brew install mise
  
      - name: Install Tuist
        run: |
          mise install tuist

      - name: Install Dependencies
        run: |
          mise x -- tuist install

      - name: Build Tuist
        run: |
            mise x -- tuist build

      - name: Import signing certificate
        env:
          IOS_CERT_BASE64: $IOS_CERT_PATH.base64
        run: |
          echo "${{ secrets.IOS_CERT_P12_DATA }}" > $IOS_CERT_BASE64
          base64 --decode -i $IOS_CERT_BASE64 -o $IOS_CERT_PATH

      - name: Import provisioning profile
        env:
          IOS_PROFILE_PATH_BASE64: $IOS_PROFILE_PATH.base64
        run: |
          echo "${{ secrets.IOS_PROFILE_DATA }}" > $IOS_PROFILE_PATH_BASE64
          base64 --decode -i $IOS_PROFILE_PATH_BASE64 -o $IOS_PROFILE_PATH

      - name: Remove Network Security Exceptions
        continue-on-error: true
        run: |
          /usr/libexec/PlistBuddy -c "delete :NSAppTransportSecurity:NSExceptionDomains" ./ios/$PRODUCT_NAME/Info.plist

      - name: Upgrade fastlane
        run: |
          sudo gem install fastlane

      - name: Export Fastlane App Store Key
        env:
          API_KEY_PATH_BASE64: $IOS_KEY_PATH.base64
        run: |
          echo '${{ secrets.IOS_API_KEY }}' > $API_KEY_PATH_BASE64
          base64 --decode -i $API_KEY_PATH_BASE64 -o $IOS_KEY_PATH
          rm $API_KEY_PATH_BASE64
          
      - name: Build/Upload app
        env:
          PACKAGE_NAME: 'com.y2k.wherewego'
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          IOS_CERT_PWD: ${{ secrets.IOS_CERT_P12_PWD }}
          IOS_KEYCHAIN: ${{ secrets.IOS_KEYCHAIN }}
          IOS_KEYCHAIN_PWD: ${{ secrets.IOS_KEYCHAIN_PWD }}
        run: |
          fastlane ios release description:'${{ github.event.inputs.body }}' isReleasing:${{ github.event.inputs.isReleasing }}
