
name: DEPLOY IOS
on:
  workflow_dispatch:
    inputs:
        isReleasing:
            description: '심사제출'
            type: boolean
            required: true
            default: true
        body:
            description: 'Version changes'
            required: false
            default: '수정사항'

concurrency:
  group: ${{ github.ref }}/ios/deploy
  cancel-in-progress: true

permissions: 
  id-token: write

jobs:
  deploy:
    runs-on: macos-26
    env:
        PRODUCT_NAME: 'wherewego'
        PACKAGE_NAME: 'com.y2k.wherewego'
        IOS_CERT_PATH: 'cert.p12'
        IOS_PROFILE_PATH: 'profile.mobileprovision'
        IOS_KEY_PATH: 'api-key.json'
        IOS_IPA_PATH: './Output/IPA/App.ipa'
        GPG_PRIVATE_KEY_PATH: 'private.gpg'
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Select Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_26.1.1.app

      - name: Import Secret Key
        run: |
          echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d -o $GPG_PRIVATE_KEY_PATH
          gpg --batch --no-tty --yes --import $GPG_PRIVATE_KEY_PATH
          
      - name: Install Encrypter
        run: |
            brew install git-secret
      
      - name: Decrypt Secret Data
        run: |
          git secret reveal -p ${{ secrets.GPG_PRIVATE_PWD }}
      
      - name: Install Mise
        uses: jdx/mise-action@v2

      - name: Install Dependencies
        run: |
          tuist install

      - name: Log in Tuist
        run: |
          tuist auth login

      - name: Generate Xcode Project
        run: |
          tuist generate --cache-profile none    

      - name: Import signing certificate
        env:
          IOS_CERT_BASE64: $IOS_CERT_PATH.base64
        run: |
          echo "${{ secrets.IOS_CERT_P12_DATA }}" > $IOS_CERT_BASE64
          base64 --decode -i $IOS_CERT_BASE64 -o $IOS_CERT_PATH

      - name: Import provisioning profile
        env:
          IOS_PROFILE_PATH_BASE64: $IOS_PROFILE_PATH.base64
        run: |
          echo "${{ secrets.IOS_PROFILE_DATA }}" > $IOS_PROFILE_PATH_BASE64
          base64 --decode -i $IOS_PROFILE_PATH_BASE64 -o $IOS_PROFILE_PATH

      - name: Remove Network Security Exceptions
        continue-on-error: true
        run: |
          /usr/libexec/PlistBuddy -c "delete :NSAppTransportSecurity:NSExceptionDomains" ./ios/$PRODUCT_NAME/Info.plist

      - name: Upgrade fastlane
        run: |
          sudo gem install fastlane  
      
          - name: Export Fastlane App Store Key
        env:
          API_KEY_PATH_BASE64: $IOS_KEY_PATH.base64
        run: |
          echo '${{ secrets.IOS_API_KEY }}' > $API_KEY_PATH_BASE64
          base64 --decode -i $API_KEY_PATH_BASE64 -o $IOS_KEY_PATH
          rm $API_KEY_PATH_BASE64

      - name: Setup Certificates and Increment Version
        env:
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          IOS_CERT_PWD: ${{ secrets.IOS_CERT_P12_PWD }}
          IOS_KEYCHAIN: ${{ secrets.IOS_KEYCHAIN }}
          IOS_KEYCHAIN_PWD: ${{ secrets.IOS_KEYCHAIN_PWD }}
          IOS_KEY_PATH: ${{ env.IOS_KEY_PATH }}
        run: |
          fastlane ios setup

      - name: Create export options plist
        env:
          TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: |
          cat > ./exportOptions.plist <<EOF
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
            <key>method</key>
            <string>app-store</string>
            <key>teamID</key>
            <string>$TEAM_ID</string>
            <key>provisioningProfiles</key>
            <dict>
              <key>$PACKAGE_NAME</key>
              <string>$PRODUCT_NAME</string>
            </dict>
            <key>signingStyle</key>
            <string>manual</string>
            <key>uploadSymbols</key>
            <true/>
            <key>compileBitcode</key>
            <false/>
          </dict>
          </plist>
          EOF

      - name: Build and Archive App
        env:
          TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          SCHEME: App
          ARCHIVE_PATH: ./Output/Archive
        run: |
          WORKSPACE=${PRODUCT_NAME}.xcworkspace

          echo "WORKSPACE: $WORKSPACE"
          echo "SCHEME: $SCHEME"
          echo "ARCHIVE_PATH: $ARCHIVE_PATH"

          # Build archive
          tuist xcodebuild archive \
            -workspace $WORKSPACE \
            -scheme "$SCHEME" \
            -configuration Release \
            -archivePath "$ARCHIVE_PATH"

      - name: Export IPA
        run: |
          ARCHIVE_PATH=./Output/Archive.xcarchive
          EXPORT_PATH=./Output/IPA
          EXPORT_OPTIONS_PLIST=./exportOptions.plist

          echo "ARCHIVE_PATH: $ARCHIVE_PATH"
          echo "EXPORT_PATH: $EXPORT_PATH"
          echo "EXPORT_OPTIONS_PLIST: $EXPORT_OPTIONS_PLIST"

          xcodebuild -exportArchive \
            -archivePath $ARCHIVE_PATH \
            -exportPath $EXPORT_PATH \
            -exportOptionsPlist $EXPORT_OPTIONS_PLIST

      - name: Upload to TestFlight/App Store
        env:
          IOS_KEY_PATH: ${{ env.IOS_KEY_PATH }}
          IOS_IPA_PATH: ${{ env.IOS_IPA_PATH }}
        run: |
          fastlane ios upload description:'${{ github.event.inputs.body }}' isReleasing:${{ github.event.inputs.isReleasing }}
